<!DOCTYPE html>
<html lang="en">
    {{>head}}
<body>
    {{>navbar}}

<div class="container">
    <div class="row">
            
            <div class="col-md-12 register-right">
                
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        
                        <h3 class="register-heading">Welcome Your Success Fully Login</h3>
                        
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</body>
</html>
